.patient-form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 2rem auto;
  gap: 16px;
}
small {
  font-size: 0.8rem;
}

mat-form-field {
  width: 100%;
}
.button-group {
  display: flex;
  gap: 10px; 
  margin-top: 20px;
}
